@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.zcButton {
    cursor: pointer;
    background: var(--tmd-element, white);
    font-family: "Emilys Candy";
    color: var(--tmd-text, black);
    border: 2px solid var(--tmd-accent, black);
    border-radius: 4px;
}

.zcButton:hover {
    background: var(--tmd-element-hover, #ebf7fe);
    border-color: var(--tmd-accent-hover, #7dd3fc);
    color: var(--tmd-accent-hover, #015a8c);
}

.zcButton[data-lc-style="green"] {
    background: rgb(124, 255, 124);
    border-color: rgb(82, 204, 82);
    color: black;
}

.zcButton[data-lc-style="green"]:hover {
    background: rgb(94, 197, 94);
    color: black;
}

.zcButton[data-lc-style="inverted"] {
    background: var(--tmd-accent, #303030);
    border: none;
    color: var(--tmd-text, white);
}

.zcButton[data-lc-style="inverted"]:hover {
    background: var(--tmd-accent-hover, #474747);
}

.zcInput {
    background: var(--tmd-element, white);
    font-family: Emilys Candy;
    color: var(--tmd-text, black);
    padding: 2vw;
    border: 2px solid var(--tmd-accent, black);
    border-radius: 4px;
}

.zcInput::placeholder {
    color: var(--tmd-text, black);
}

.zcBackNextButton {
    display: flex;
    column-gap: 2vw;
    justify-content: center;
    align-items: center;
    background: var(--tmd-element, white);
    font-family: Emilys Candy;
    color: var(--tmd-text, black);
    border: 2px solid var(--tmd-accent, black);
    border-radius: 4px;
}

.zcBackNextButton button {
    cursor: pointer;
    background: var(--tmd-element, rgb(240, 240, 240));
    border-radius: 4px;
    height: 140%;
    aspect-ratio: 1/1;
    border: 2px solid var(--tmd-accent, black);
    font-size: 3.5vw;
}

.zcBackNextButton button:hover {
    background: var(--tmd-element-hover, rgb(222, 222, 222));
}

.zcDisabled {
    pointer-events: none;
    opacity: 0.6;
}