* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.zcButton {
    cursor: pointer;
    background: var(--tmd-element, white);
    color: var(--tmd-text, black);
    border: 2px solid var(--tmd-accent, black);
    border-radius: 4px;
}

.zcButton:hover {
    background: var(--tmd-element-hover, #ebf7fe);
    border-color: var(--tmd-accent-hover, #7dd3fc);
    color: var(--tmd-accent-hover, #015a8c);
}

.zcButton .tooltip {
    position: absolute;
    color: black;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    background: #FFFF88;
    border: 2px solid #e7e787;
    width: max-content;
    min-height: 100%;
    visibility: hidden;
    z-index: 10;
}

.zcButton .tooltip[position=left] {
    right: calc(100% + 1vw);
}

.zcButton .tooltip[position=right] {
    left: calc(100% + 1vw);
}

.zcButton:hover .tooltip {
    visibility: visible;
}

.zcButton[data-zc-style="green"] {
    background: rgb(124, 255, 124);
    border-color: rgb(82, 204, 82);
    color: black;
}

.zcButton[data-zc-style="green"]:hover {
    background: rgb(94, 197, 94);
    color: black;
}

.zcButton[data-zc-style="inverted"] {
    background: var(--tmd-accent, #303030);
    border: none;
    color: var(--tmd-text, white);
}

.zcButton[data-zc-style="inverted"]:hover {
    background: var(--tmd-accent-hover, #474747);
}

.zcInput {
    background: var(--tmd-element, white);
    color: var(--tmd-text, black);
    padding: 2vw;
    border: 2px solid var(--tmd-accent, black);
    border-radius: 4px;
}

.zcInput::placeholder {
    color: var(--tmd-text, black);
}

.zcBackNextButton {
    display: flex;
    column-gap: 2vw;
    justify-content: center;
    align-items: center;
    background: var(--tmd-element, white);
    color: var(--tmd-text, black);
    border: 2px solid var(--tmd-accent, black);
    border-radius: 4px;
}

.zcTabs {
    display: flex;
}

.zcTabs button {
    cursor: pointer;
    width: 100%;
    color: var(--tmd-text, black);
    background: none;
    border: none;
    border-bottom: 2px solid var(--tmd-element, rgb(214, 214, 214));
    padding: 0.25em;
}

.zcTabs button[data-opened=true] {
    font-weight: bold;
    border-bottom: 2px solid var(--tmd-accent, rgb(81, 81, 231)) !important;
}

.zcTabs button:hover {
    background: var(--tmd-element, rgb(235, 235, 235));
    border-bottom: 2px solid var(--tmd-element-hover, rgb(149, 149, 149));
}

.zcToastsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.25vw;
    cursor: pointer;
    position: fixed;
    z-index: 10;
}

.zcToast[data-zc-toast-type="info"] {
    background: rgb(80, 80, 223);
}

.zcToast[data-zc-toast-type="success"] {
    background: rgb(66 240 143);
}

.zcToast[data-zc-toast-type="warning"] {
    background: #ffdb82;
}

.zcToast[data-zc-toast-type="error"] {
    background: rgb(212, 46, 107);
}

@keyframes zcToast-progress {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes zcSlideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zcSlideOutToLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.zcToast {
  animation: zcSlideInFromLeft 0.3s ease-out forwards;
}

.zcToast.exiting {
  animation: zcSlideOutToLeft 0.3s ease-out forwards;
}

.zcToast[data-zc-toast-type="info"] .zcToast-ProgressBar {
    background: rgb(103, 103, 234);
}

.zcToast[data-zc-toast-type="success"] .zcToast-ProgressBar {
    background: rgb(47, 209, 120);
}

.zcToast[data-zc-toast-type="warning"] .zcToast-ProgressBar {
    background: #e1bd62;

}

.zcToast[data-zc-toast-type="error"] .zcToast-ProgressBar {
    background: rgb(183, 40, 92);
}

.zcToast p {
    color: white;
}

dialog[data-zc-dialog-type="choice_multiple"] .zcDialogBtn::before {
    content: "";
    position: absolute;
    left: 1vw;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid white;
    width: 0.5em;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

dialog[data-zc-dialog-type="choice_multiple"] .zcDialogBtn[data-zc-picked=true]::before {
    background: white;
}

.zcDialogBtn {
    cursor: pointer;
    background: #ffffff17;
    border: none;
    font-size: clamp(6px, 2vw, 24px);
    color: white;
    padding: 0.2em;
    border-radius: 0.5em;
}

.zcDialogBtn:hover {
    background: #ffffff24;
}

.zcDisabled {
    pointer-events: none;
    opacity: 0.6;
}